@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #ebe0fb;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #BEADFA;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.95rem;
}

#markdown-container {
  display: flex;
  flex: 1;
  height: 100%;
}

#markdown-input, #markdown-output {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#markdown-input {
  margin-right: 10px;
  line-height: 2;
}

#markdown-output {
  border: 1px solid #ccc;
  overflow-y: auto;
}

#markdown-output img {
  max-width: 100%;
  height: auto;
}

#navbar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  width: 100px;
}

#navbar button:hover {
  background-color: #0056b3;
}

#navbar #btn-reset {
  background-color: #ee172d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

#navbar #btn-reset:hover {
  background-color: rgb(173, 6, 6);
}

#navbar select {
  padding: 8px;
  border: 1px solid #BEADFA;
  border-radius: 4px;
  background-color: #DFCCFB;
  border-radius: 15px;
}

#markdown-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#markdown-output {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#markdown-output img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

#markdown-output a:visited{
  color: blue;
}

#navbar-logo {
  display: block;
  height: 40px;
}

.github {
  height: 30px;
}

.more .help span{
  font-size: 1.25rem;
  color: black;
  font-weight: 500;
}

#reading-stats {
  margin: 10px 0;
  padding: 10px;
  margin-top: 50px;
  background-color: #f8f9fa;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

#reading-stats p {
  margin: 5px 0;
  margin-right: 1.5rem;
  font-size: small;
  color: rgb(98, 98, 98);
}

.more {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.more-content {
  display: none;
  position: absolute;
  background-color: #DFCCFB;
  border: 2px solid DFCCFB;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  transform: translateX(-7%);
  top:25px;
}

.more-content.show {
  display: block;
}

.more-content div {
  padding: 15px;
  display: flex;
  align-items: center;
}

.more-content a, .more-content p {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: all 0.25s ease;
}

.github img {
  height: 20px;
  margin-right: 5px;
}

.help .material-symbols-outlined {
  font-size: 16px;
  margin-right: 5px;
}

.more-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.github img,
.help .material-symbols-outlined {
  height: 20px;
  margin-right: 10px;
}

.github p,
.help p {
  margin: 0;
}

.more-content .help {
  font-size: 1.2rem;
}

.more-content a:hover {
  font-size: 15px;
  transform: translateY(-5px);
}

#more-icon{
  font-size: 1.5rem;
  color: rgb(43, 43, 43);
  font-weight: bold;
}
.more::after {
  content: "More";
  position: absolute;
  top: 110%;
  left: -45%;
  transform: translateX(-50%);
  background-color: black;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.more:hover::after {
  opacity: 1;
}

@media (max-width: 1200px) {
  #navbar {
    align-items: normal;
    flex-direction: column;
    position: static;
    border-radius: 7px;
  }

  #navbar button {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
  }

  #chk-sync-scroll {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #navbar label,
  select {
    margin-top: 5px;
    margin-bottom: 9px;
    width: 100%;
  }

  #navbar label {
    margin-left: 7PX;
  }

  #markdown-container {
    flex-direction: column;
    margin-top: 0;
  }

  #markdown-input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #markdown-output {
    margin-bottom: 30px;
  }

  #navbar .btn-container {
    display: flex;
    justify-content: space-between;
  }

  #navbar #btn-reset,
  #navbar #btn-copy {
    width: calc(50% - 5px);
  }

  #navbar #navbar-logo {
    display: none;
  }

  .extra {
    display: none;
  }

  .small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .small span {
    font-size: 24px;
    margin-left: 10px;
  }

  .small .git {
    display: flex;
    align-items: center;
  }

  .small .github {
    margin-left: 10px;
  }

  #navbar .small .small-head {
    display: flex;
    align-items: center;
  }

  #navbar .small .small-tail {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  #navbar .small .small-tail .help{
    font-size: 1.8rem;
    color: black;
  }

  #reading-stats {
    padding: 8px;
    margin-top: 0px;
  }

  #reading-stats p {
    font-size: small;
  }

  #navbar {
    font-size: 0.95rem;
  }

  .git, .help {
    position: relative;
  }
  
  .git::after {
    content: "GitHub";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .help::after {
    content: "Help";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .git:hover::after,
  .help:hover::after {
    opacity: 1;
  }
}
