body {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #ebe0fb;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #BEADFA;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#markdown-container {
  display: flex;
  flex: 1;
  height: 100%;
  margin-top: 60px;
}

#markdown-input, #markdown-output {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#markdown-input {
  margin-right: 10px;
  line-height: 2;
}

#markdown-output {
  border: 1px solid #ccc;
  overflow-y: auto;
}

#markdown-output img {
  max-width: 100%;
  height: auto;
}

#navbar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  width: 100px;
}

#navbar button:hover {
  background-color: #0056b3;
}

#navbar #btn-reset {
  background-color: #ee172d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

#navbar #btn-reset:hover {
  background-color: rgb(173, 6, 6);
}

#navbar select {
  padding: 8px;
  border: 1px solid #BEADFA;
  border-radius: 4px;
  background-color: #DFCCFB;
  border-radius: 15px;
}

#markdown-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#markdown-output {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#markdown-output img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.sync {
  margin-top: 5px;
}

#navbar-logo {
  display: block;
  height: 40px;
}

.github {
  height: 30px;
}

.extra {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.extra .git{
  display: inline;
}

.extra .help{
  font-size: 1.8rem;
  color: black;
  font-weight: 500;
}

@media (max-width: 1200px) {
  #navbar {
    align-items: normal;
    flex-direction: column;
    position: static;
    border-radius: 7px;
  }

  #navbar button {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
  }

  #chk-sync-scroll {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #navbar label,
  select {
    margin-top: 5px;
    margin-bottom: 9px;
    width: 100%;
  }

  #navbar label {
    margin-left: 7PX;
  }

  #markdown-container {
    flex-direction: column;
    margin-top: 0;
  }

  #markdown-input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #markdown-output {
    margin-bottom: 30px;
  }

  #navbar .btn-container {
    display: flex;
    justify-content: space-between;
  }

  #navbar #btn-reset,
  #navbar #btn-copy {
    width: calc(50% - 5px);
  }

  #navbar #navbar-logo {
    display: none;
  }

  .extra {
    display: none;
  }

  .small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .small span {
    font-size: 24px;
    margin-left: 10px;
  }

  .small .git {
    display: flex;
    align-items: center;
  }

  .small .github {
    margin-left: 10px;
  }

  #navbar .small .small-head {
    display: flex;
    align-items: center;
  }

  #navbar .small .small-tail {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  #navbar .small .small-tail .help{
    font-size: 1.8rem;
    color: black;
    font-weight: 500;
  }
}
